body {
  font-family: 'helvetica';
  padding: 0;
  margin: 0;
}

header {
  background-image: url('https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg');
}
h1 {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
}
.brush {
  background-color: mediumspringgreen;
  font-size: 32px;
  font-weight: bold;
  color: white;
}
span {
  color: blue;
  font-weight: bold;
}
.frame {
  background-color: lightcoral;
  font-size: 32px;
  font-weight: bold;
  color: white;
}
.paint {
  background-color: skyblue;
  font-size: 32px;
  font-weight: bold;
  color: white;
}
